html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
		background-color: black;

}
#myVideo {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #myVideo  {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #myVideo  {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #myVideo  {
        display: none;
    }



.img-badge {

  width: 300px;
	height: auto;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 600px;
	z-index:3;
	color: white;
	border: 1px solid white;
	font-size: 12;
	font-family: monospace;
	padding: 5 5 5 5;
}
