body

{
background-color: black;
}

.img-lake {
	cursor:pointer;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index:-1
}

.img-balenciaga {
	cursor:pointer;
	position: absolute;
	left: 400px;
	top: 300px;
	z-index:0
}

.img-starost {
	cursor:pointer;
	position: absolute;
	left: 900px;
	top: 300px;
	z-index:1;
}

.img-live {
	cursor:pointer;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index:2
}
